
/************样式重置**************/

body,ul,li,dl,dt,dd,p,ol,h1,h2,h3,h4,h5,h6,form,img,table,fieldset,legend,figure{margin:0; padding:0;}
ul,li,ol{list-style:none;}
img,fieldset{border:0; }
img{display:block;}
a{text-decoration:none; color:#333;}
h1,h2,h3,h4,h5,h6{font-weight:100;}
body{font:12px "微软雅黑";}
input,a{outline:none;}
b,strong{font-weight:normal;}
i,em{font-style:normal;}


/************开始吧**************/

body{
  height:100%;
  width:100%;
  background:#e9e9e9;
}

.top,.header2,.nav1,.main,.footer,.fdg,.shopDetail,.gouWu{
   width:1000px;
   margin:0 auto;
 }


/************header第一部分**************/

.top-wrap{
  width:100%;
  height:42px;
  background: red url(../images/top-navbg.png) repeat-x;
  .top{
    height:42px;
    position:relative;

    /***********top左边***************/
     .header-left{
      float:left;
       position:relative;
      li{
        float:left;
        //position:relative;

      a{
        float:left;
        padding:10px 20px;
        //border:1px solid #fff;
        border-right:1px solid #e7e7e7;
        margin-top:4px;
        color:#666;
        font-size:14px;
        font-weight:900;
      }
     }
       .top-li{
         position:absolute;left:190px;top:0;
         z-index:300;

         .top1{
           background:#fff;
           color:#ff5c00;
           border:1px solid #e7e7e7;
           border-bottom:none;

         }
         .top-a{
           width:75px;
           height:36px;
           line-height:32px;
           margin:6px 11px 2px 11px;
           border-right:1px solid #e7e7e7;
          // border-bottom:1px solid #fff;
           padding:0 11px;
           // position:absolute;left:0;top:0;

           .topSpan{
             float:left;
             width:7px ;
             height:22px;
             padding-left:5px;
             margin-right:14px;
             margin-top:5px;
             background:url(../images/sprite215new.png ) no-repeat -320px -240px;
           }
           i{
             color:#666;
             font-size:13px;
             font-weight:900;
           }
           i:hover{
             color:#ff5c00;
           }
         }
         .phone{
           display:none;
           width:278px;
           height:103px;
           margin:43px 0 0 11px;
           border:1px solid #ff5c00;
           background:#fff url(../images/20150616150348_972_20150605145113_972_app.jpg) no-repeat left top;
         }
       }

       li:hover .phone{
         display:block;
       }
       li:hover .topSpan{
         display:block;
         background-position:-320px -263px;
         transition:0.3s;
       }
       li:hover  .top-a{
         background:#fff;
         border:1px solid #ff5c00;
         border-bottom:1px solid #fff;
       }

    }
  /***********top右边***************/
    .header-right {
      float: right;
      height: 42px;
      line-height: 42px;
      z-index:900;

      li {
        float: left;
         a {
          font-size: 12px;
          padding: 0 11px 0 8px;
          border-left: 1px solid #e7e7e7;
        }

        b {
          width: 8px;
          height: 6px;
          margin-top: 20px;
          margin-right: 5px;
          float: right;
          background: url(../images/tubiao.gif) no-repeat left top;
        }
      }

      /***********top右边二级导航***************/
      .top5-li{
        position:relative;
        z-index:300;
        .ttp {
          width: 80px;
          background: #fff;
          border: 1px solid #ff5c00;
          border-top: none;
          position:absolute;left:0;top:42px;
          display: none;

          a {
            display: block;
            width: 80px;
            padding-left: 6px;
            font-size: 12px;
            line-height: 24px;
          }

        }
        .list2{
          width:110px;
        }

      }
      a:hover {
        color: red;
      }
      li:hover .nav11 {
        display: block;
        background: #fff;
        border: 1px solid #ff5c00 ;
        border-bottom: none;

      }
      li:hover .ttp {
        display: block;
      }
      li:hover .list2 {
        border: 1px solid #ff5c00;
        width: 100px;
      }
    }

  }
}

/***********header2第二部分***************/

.header2 {
  height: 71px;
  margin: 30px auto 0;
  background: url(../images/logo29new.png) no-repeat left top;
  position: relative;
  //background:#fff;
  .dingdan{
    height:35px;
    width:600px;
    border-radius:0 30px 30px 0;
    background:url(../images/cart-step1.png) no-repeat;
    margin-left:400px;
    margin-top:0;
  }
}
/***********第san部分***************/
.gouWu{
  height:30px;
  width:1000px;
 //background:red;
  .left{
    height:30px;
    width:150px;
    float:left;

    img{
      float:left;
      width:36px;
      height:30px;
    }
    span{
      margin-left:10px;
      float:left;
      font-size:20px;
      font-weight:900;
    }
  }
  .right{
    float:right;
    font-size:13px;
    a{
      color:red;
    }
  }
}

/***********商品详情信息***************/
.shopDetail{
    min-height:257px;height:auto!important;height:257px;
  background:#fff;
  width:1000px;
  border-bottom:1px solid #666;
  .shopDeta1{
    height:45px;
    background:#eee;
    border-bottom:1px solid #ccc;
    a{
      font-size:20px;
      font-weight:900;
      float:left;
      margin-left:30px;
      margin-top:12px;
    }
    span{
      margin-top:15px;
      font-size:14px;
      float:left;
      margin-left:10px;
    }

    dl{
      width:450px;
      height:100%;
      float:right;
      dt{
        float:left;
        margin-right:50px;
        line-height: 44px;

      }

    }
  }
  .shopDeta2{
    height:auto;
    min-height:170px;height:auto!important;height:170px;
    background:#fff;
    border-bottom:1px solid #ccc;

    .shopBox{
      height:74px;
      width:930px;
      margin:25px 0 0 40px;
//    background:red;
      .carImg{
          width:73px;
          height:73px;
          border:1px solid #ddd;
          float:left;
          
      }
      span{
      margin-top:30px;
      font-size:12px;
      float:left;
      margin-left:10px;
    }

    .box11{
        width:450px;
        height:74px;
        float:right;
        //background:#00FF00;
      li{
        width:110px;
        height:74px;
        float:left;
        text-align:center;
        line-height:74px;

      }
      .carli2{

        .btnL{
          margin-top:30px;
          margin-left:20px;
          height:26px;
          width:26px;
          border:1px solid #ddd;
          float:left;
        }
        .carInput{
          margin-top:30px;
          height:24px;
          width:35px;
          display:block;
          border:1px solid #ddd;
          float:left;
          color:red;
          font-weight:900;
        }
        .btnR{
          margin-top:30px;
          height:26px;
          width:26px;
          border:1px solid #ddd;
          float:left;
        }
      }
      .carli3{
        text-align:center;
        line-height:74px;
        font-weight:900;
        color:red;
      }
      .carli4{
        text-align:center;
        line-height:74px;
      }
      .carli4:hover a{
        color:red;
      }
    }



    }

  }
  .shopDeta3{
    height:45px;
    background:#eee;
    border-bottom:1px solid #ccc;
  }


}


/**********footer 第七部分***************/
.footer-wrap{
  width:100%;
  height:190px;
  .footer{
    height:190px;

    position:relative;
    p{
      text-align:center;
      line-height:27px;
      font-size:13px;
      color:#666;
    }
    p:nth-of-type(1){
      padding-top:17px;
      color:#666;
    }
   .ft-img{
     position:absolute;left:0;right:0;margin:auto;top:110px;
     display:block;
     width:110px;
     height:40px;
     background:#3399ff;
     border-radius:5px;
     //border:1px solid #3399ff;
     img{
       height:38px;
       width:45px;
       background:#fff;
       float:left;
       padding-left:5px;
       border-radius:5px 0 0 5px;
       border:1px solid #3399ff;
     }
    a{
      float:left;
      line-height:40px;
      padding-left:3px;
      color:#fff;

    }
   }
    p:nth-of-type(4){
      height:27px;
      position:absolute;left:370px;top:160px;
    a{
      float:left;
      line-height:27px;
      margin-left:5px;

    }
    }
  }
}

/**********navRight 第八部分***************/
.navRgt{
  height:100%;
  width:37px;
  background:#fff;
  position:fixed;right:0;top:0;bottom:0;margin:auto;
  z-index:1000;

///////登录 与 注册
  .navRgt1{
    width:36px;height:36px;
    position:absolute;left:0;top:100px;

    .navRgtA1{
        display:block;
        width:22px;height:22px;
        position:absolute;left:7px;top:7px;
        background:url(../images/righticon.png) no-repeat left top;
      }

    .navRgtDiv1{
      height:162px;
      width:288px;
      background:#fff;
      position:absolute;left:-298px;top:0;
      box-shadow:-3px -2px 10px #ccc;
      display:none;
      i{
        position:absolute;left:286px;top:15px;
        display:block;
        width:8px;
        height:14px;
        background:url(../images/sanjiao.png);

      }
      .navRgtImg1{
        float:right;
        margin:10px 10px 0 0;
      }
      .navRgtImg2{
        float:left;
        margin:10px 100px 0;
      }
      .navRgtP{
        float:left;
        height:20px;
        width:288px;
        font-size:13px;
        color:#aaa;
        margin:10px 0 0 40px;

        a{
          color:red;
        }
      }

    }

  }
  .navRgt1:hover{
    background:#ff5c00;
  }
  .navRgt1:hover .navRgtA1{
    background-position: -22px 0;
  }

  //////////////////购物车
  .shopCar{
    display:block;
    width:36px;
    height:130px;
    position:absolute;left:0;top:200px;
   // background:greenyellow;
    border-top:1px solid #ccc;

    .shopCarDiv {
      box-sizing:border-box;
      padding:10px;
      width: 288px;
      height: 1200px;
      background: #fff;
      position: absolute;
      left: -298px;
      top: -200px;
      box-shadow: -3px 0px 10px #ccc;
      display: none;

      i {
        position: absolute;
        left: 286px;
        top: 250px;
        display: block;
        width: 8px;
        height: 14px;
        background: url(../images/sanjiao.png);

      }
      .shopCarImg1{
        float:right;
        margin:10px 10px 0 0;
      }
      h2{
        font-size:20px;
        color:#ddd;
        float:left;
      }
      .shopCarImg2{
        width:124px;
        height:128px;
         margin:40px 70px 0;
      }
      strong:nth-of-type(2){
        width:124px;
        display:block;
        line-height:20px;
        margin: 10px 0  0 70px;

      }
      strong:nth-of-type(3){
        width:100%;
        display:block;
        border-top:1px solid #ccc;
        line-height:30px;
        margin-top:30px;
      }
    }
    span{
      display:block;
      width:22px;
      height:22px;
      margin:7px;
      background:url(../images/righticon.png) no-repeat 0 -22px;
    }
    b{
      margin-left:12px;
      display:block;
      width:15px;
      font-size:13px;
      line-height:20px;
    }
   a{
     padding:6px 0  0 9px;
     color:red;
     font:14px "微软雅黑";

   }
  }
  .shopCar:hover{
    background:#ff5c00;
  }
  .shopCar:hover span{
    background-position: -22px -24px;
  }
  .shopCar:hover b{
    color:#fff;
  }
  .shopCar:hover a{
    color:#fff;
  }

  ///////////////二维码
  .navRgt2{
    width:36px;height:36px;
    position:absolute;left:0;top:350px;
    a{
      display:block;
      width:22px;height:22px;
      margin:7px;
      background:url(../images/righticon.png) no-repeat 0 -50px;
    }

  }
  .navRgt2:hover{
    background:#ff5c00;
  }
  .navRgt2:hover a{
    background-position: -22px -50px;
  }

  /////////////登录
  .navRgt3{
    width:36px;height:36px;
    position:absolute;left:0;top:410px;

    .navRgtA33{
      display:block;
      width:22px;height:22px;
      position:absolute;left:7px;top:7px;
      background:url(../images/righticon.png) no-repeat  0 -76px;
    }

    .navRgtDiv3{
      height:162px;
      width:288px;
      background:#fff;
      position:absolute;left:-298px;top:0;
      box-shadow:-3px -2px 10px #ccc;
      display:none;
      i{
        position:absolute;left:286px;top:15px;
        display:block;
        width:8px;
        height:14px;
        background:url(../images/sanjiao.png);

      }
      .navRgtImg11{
        float:right;
        margin:10px 10px 0 0;
      }
      .navRgtImg22{
        float:left;
        margin:10px 100px 0;
      }
      .navRgtP{
        float:left;
        height:20px;
        width:288px;
        font-size:13px;
        color:#aaa;
        margin:10px 0 0 40px;

        a{
          color:red;
        }
      }

    }

  }

  .navRgt3:hover{
    background:#ff5c00;
  }
  .navRgt3:hover .navRgtA33{
    background-position: -22px -76px;
  }

  //////在线客服
  .shopOnline{
    display:block;
    width:36px;
    height:130px;
    position:absolute;left:0;bottom:100px;
    background:#ff5c00;

   .shopOnlineDiv {
     box-sizing: border-box;
     padding: 10px;
     width: 78px;
     height: 36px;
     background: #fff;
     position: absolute;
     left: -88px;
     top: 0;
     box-shadow: -3px -2px 10px #ccc;
     display: none;

     i {
       position: absolute;
       left:78px;
       top: 12px;
       display: block;
       width: 8px;
       height: 14px;
       background: url(../images/sanjiao.png);
     }
   }
//////////客服里面的对话框
    .talkTxt{
      width:415px;
      height:510px;
      background:#fff;
      position:absolute;left:-380px;bottom:-100px;
      z-index:300;
      border:1px solid #666;
      border-radius:10px 10px 0 10px;
      box-shadow: -2px -2px 6px #ccc;
      display:none;

      //////上方小按钮

      .talkTop{
        width:100%;
        height:42px;
        background:#ff8500;
        border-radius:10px 10px 0 0;
        position:relative;

      img{
        display:block;
        width:54px;
        position:absolute;left:20px;top:-13px;
      }
      em{
        position:absolute;left:80px;top:14px;
        color:#fff;
      }
        ul{
          width:80px;
          height:13px;
          position:absolute;right:10px;top:10px;

        li{
          height:13px;
          width:11px;
          float:left;
          margin-left:15px;
          background:url(../images/chaticon.png) no-repeat -44px -4px;

        }
          li:nth-of-type(1){
            background-position:-4px -4px;
          }
          li:nth-of-type(3){
            background-position:-65px -4px;
          }
          li:nth-of-type(1):hover{
            background-position:-4px -24px;
          }
          li:nth-of-type(2):hover{
            background-position:-44px -24px;
          }
          li:nth-of-type(3):hover{
              background-position:-65px -24px;
            }

        }

      }

      ////////对话框内容
      .content{
        height:300px;
        width:100%;
        overflow-y:scroll;

        img{
          width:260px;
          height:150px;
          margin:34px 0 30px 76px;
        }

        .msgContent{
          width:auto;
          max-width:284px;
          height:auto;
          word-break:break-all;
          margin:5px;
          padding:3px;
          border-radius:5px;
        }
        .left{
          float:left;
          text-align:left;
          background:#eee;
          border:1px solid #ccc;
          box-shadow:1px 2px 6px #ddd ;
        }
        .right{
          float:right;
          text-align:right;
          background:#eee;
          border:1px solid #ccc;
          box-shadow:1px 2px 6px #ddd ;
        }


      }

      ////////对话框下文件传送
      .filePost{
        width:100%;
        height:30px;
        border-top:1px solid #ccc;
        border-bottom:1px solid #ccc;
      }

      ////////文字输入框
      .talkIpt{
        width:100%;
        height:93px;
        box-sizing:border-box;
        padding:12px 10px;
      }
      ////////下方按钮
      .talkBtn{
        height:40px;
        width:100%;
        position:relative;
        p{
          float:left;
          padding:12px 0 0 10px;
          color:#ccc;

        }
        .btng{
          display:block;
          width:54px;
          position:absolute;right:120px;top:8px;
        }
        .btng:hover{
          color:red;
        }
        .btnf{
          height:28px;
          width:76px;
          position:absolute;right:26px;top:5px;
          border:1px solid #ccc;
          background:#eee;
        }
        .selection1{
          height:28px;
          width:16px;
          border:1px solid #ccc;
          border-left:none;
          background:#eee;
          position:absolute;right:10px;top:5px;

        }

      }

    }

   span{
      display:block;
      width:22px;
      height:22px;
      margin:7px;
      background:url(../images/righticon.png) no-repeat -22px -100px;
    }
    b{
      margin-left:12px;
      display:block;
      width:15px;
      font-size:13px;
      line-height:20px;
    color:#fff;
    }
  }


  //////回到顶层
  .navRgt4{
    width:36px;height:36px;
    position:absolute;left:0;bottom:20px;


    .navRgt4Div {
      box-sizing: border-box;
      padding: 10px;
      width: 78px;
      height: 36px;
      background: #fff;
      position: absolute;
      left: -88px;
      top: 0;
      box-shadow: -3px -2px 10px #ccc;
      display: none;

      i {
        position: absolute;
        left:78px;
        top: 12px;
        display: block;
        width: 8px;
        height: 14px;
        background: url(../images/sanjiao.png);

      }

    }
    a{
      display:block;
      width:22px;height:22px;
      margin:7px;
      background:url(../images/righticon.png) no-repeat 0 -130px;
    }

  }
  .navRgt4:hover{
    background:#ff5c00;
  }
  .navRgt4:hover a{
    background-position: -22px -130px;
  }

}



